<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editar_mode ? 'Editar Producto' : 'Agregar Producto'"
    subheader="Tu puedes agregar o editar un producto aquí"
  >
    <div class="p-grid p-mb-5">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary p-mr-2"
              [label]="editar_mode ? 'Actualizar' : 'Crear'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancelar"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="nombre">Nombre</label>
              <input formControlName="nombre" id="nombre" type="text" pInputText />
              <small *ngIf="productoForm.nombre.invalid && enviado" class="p-error"
                >Name es obligatorio</small
              >
            </div>
            <div class="p-field p-col">
              <label for="marca">Marca</label>
              <input formControlName="marca" id="marca" type="text" pInputText />
              <small *ngIf="productoForm.marca.invalid && enviado" class="p-error"
                >Marca es obligatorio</small
              >
            </div>
            <div class="p-field p-col">
              <label for="precio">Precio</label><br />
              <p-inputNumber formControlName="precio" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productoForm.precio.invalid && enviado" class="p-error"
                >Precio es obligatorio</small
              >
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-4">
              <label for="cont_stock">Stock</label><br />
              <p-inputNumber formControlName="cont_stock" mode="decimal" [useGrouping]="false" [disabled]="true">
              </p-inputNumber>
            </div>

            <div class="p-field p-col-4">
              <label for="categoria">Categoria</label><br />
              <p-dropdown
                [options]="categorias"
                formControlName="categoria"
                optionLabel="nombre"
                optionValue="_id"
                [filter]="true"
                filterBy="nombre"
                [showClear]="true"
                placeholder="Selecciona una categoria"
              ></p-dropdown>

              <small *ngIf="productoForm.categoria.invalid && enviado" class="p-error"
                >Categoria es obligatorio</small
              >
            </div>
            <div class="p-field p-col-4">
              <label for="destacado">Destacado</label><br />
              <p-inputSwitch formControlName="destacado"></p-inputSwitch>
            </div>
            <div class="p-field p-col-12">
              <label for="descripcion">Descripcion</label><br />
              <textarea
                pInputTextarea
                formControlName="descripcion"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small *ngIf="productoForm.descripcion.invalid && enviado" class="p-error"
                >Descripcion es obligatorio</small
              >
            </div>
            <div class="p-field p-col-12">
              <label for="grande_descripcion">Detalles del producto</label><br />
              <p-editor formControlName="grande_descripcion" [style]="{ height: '320px' }"></p-editor>
            </div>
            <div class="p-field p-col-12">
              <label for="nombre">Imagen principal</label>
              <input
                type="file"
                class="p-inputtext"
                accept="image/*"
                (change)="onImageUpload($event)"
              />
              <small *ngIf="productoForm.image.invalid && enviado" class="p-error"
                >Imagen es obligatorio</small
              >
              <div class="p-col-2 p-mt-2 p-pl-0">
                <img style="width: 100%" [src]="imageDisplay" alt="" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
