<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="'Kardex - detalles'"
    subheader="Kardex del producto seleccionado"
  >
    <div class="p-grid p-mb-5">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-secondary"
              label="Cancelar"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">

        <p-table [value]="kardexProducto"
        >
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
              <button type="button" pButton pRipple icon="pi pi-file" (click)="
              exportExcel()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
          </div>
      </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th> Fecha </th>
              <th>
                Descripcion
              </th>
              <th >
                Cantidad
              </th>
              <th >
                Precio
              </th>
              <th >
                Valor Total
              </th>
              <th >
                Cantidad
              </th>
              <th >
                Precio
              </th>
              <th >
                Valor Total
              </th>
              <th >
                Cantidad
              </th>
              <th >
                Precio
              </th>
              <th>
                Valor Total
              </th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-producto>
            <tr>
            <td>{{ producto.fecha_create | date: 'short'}}</td>
            <td>{{ producto.detalle }}</td>
            <td> {{ producto.cantidad_compra }}</td>
            <td><span *ngIf="producto.precio_compra">S/. </span> {{ producto.precio_compra }}</td>
            <td><span *ngIf="producto.valor_total_compra">S/. </span>{{producto.valor_total_compra}}</td>

            <td>{{ producto.cantidad_venta }}</td>
            <td><span *ngIf="producto.precio_venta">S/. </span> {{ producto.precio_venta }}</td>
            <td><span *ngIf="producto.valor_total_venta">S/. </span> {{producto.valor_total_venta}}</td>

            <td>{{ producto.cantidad_existencia }}</td>
            <td>S/. {{ producto.precio_existencia }}</td>
            <td>S/. {{producto.valor_total_existencia}}</td>
            </tr>
          </ng-template>
        </p-table>



        <br/>

        <p><span>Cantidad actual: </span> {{cantidad_ultimo}}</p>
        <p><span></span>S/. {{precio_existencia_ultimo}}</p>
        <p><span></span>S/. {{valor_total_ex_ultimo}}</p>


        <!-- <p-table [value]="[{}]" styleClass="p-datatable-gridlines"
        >
          <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="fecha_create">Fecha <p-sortIcon field="fecha_create"></p-sortIcon></th>
                <th class="th-sm">
                  Descripcion
                </th>
                <th class="th-sm">
                  Cantidad
                </th>
                <th class="th-sm">
                  Precio
                </th>
                <th class="th-sm">
                  Valor Total
                </th>
                <th class="th-sm">
                  Cantidad
                </th>
                <th class="th-sm">
                  Precio
                </th>
                <th class="th-sm">
                  Valor Total
                </th>
                <th class="th-sm">
                  Cantidad
                </th>
                <th class="th-sm">
                  Precio
                </th>
                <th class="th-sm">
                  Valor Total
                </th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" >
            <tr *ngFor="let compraProducto of compraProductos; index">
              <td>{{ compraProducto.fecha_create | date: 'short'}}</td>
              <td>{{ compraProducto.detalle }}</td>
              <td>S/. {{ compraProducto.precio_compra }}</td>
              <td>{{ compraProducto.cantidad }}</td>
              <td>S/. {{ compraProducto.precio_compra * compraProducto.cantidad!}}</td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
            <tr *ngFor="let ventaProducto of ventaProductos; index">
              <td>{{ ventaProducto.fecha_pedido | date: 'short'}}</td>
              <td>Venta - {{ventaProducto.usuario.nombre}}</td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td>{{ ventaProducto.order_prods![0].cantidad }}</td>
              <td>S/. {{ ventaProducto.order_prods![0].producto.precio }}</td>
              <td>S/. {{ ventaProducto.order_prods![0].producto.precio * ventaProducto.order_prods![0].cantidad!  }}</td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
          </ng-template>
        </p-table> -->
      </div>
    </div>
  </p-card>
</div>
