<header>
  <div class="p-grid">
    <div class="p-col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <div class="p-col-4 search"><productos-producto-buscar></productos-producto-buscar></div>
    <div class="p-col-3 p-offset-1 navigation">
      <ngshop-nav></ngshop-nav>
    </div>
    <div class="p-col-1 tools">

      <i class="pi pi-user p-text-secondary" routerLink="/perfil" style="font-size: 1.0rem">
        <div *ngIf="usuarioNombre">
          {{usuarioNombre}}
        </div>
      </i>

      <pedidos-carrito-icon></pedidos-carrito-icon>
    </div>
  </div>
</header>
