<header>
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-4 search"><productos-producto-buscar></productos-producto-buscar></div>
    <div class="p-col-6 p-md-6 p-lg-4 navigation">
      <ngshop-nav></ngshop-nav>
    </div>
    <div class="p-col-6 p-md-6 p-lg-1 tools" style="justify-content:right; margin-top: 20px;">

      <i class="pi pi-user p-text-secondary" routerLink="/perfil" style="font-size: 1.1rem; display: flex;align-items: center;flex-direction: column">
        <div *ngIf="usuarioNombre" style="text-align: center">
          {{usuarioNombre}}
        </div>
      </i>

      <pedidos-carrito-icon></pedidos-carrito-icon>
    </div>
  </div>
</header>
